.open-sans-normal{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
nav{
    display: flex;
    justify-content: space-around;
}
.title{
    font-weight: 500;
    font-size: 30px;

}
.btn-primary{ 
    background-color: dimgray;
    font-weight: bold;
    color: white;
    padding: 14px 20px;
    border-radius: 5px;
    border: none;
    font-size: 18px;
    height: 45px;
    margin-top: 30px;
    margin-bottom: 20px;
    

}
.btn-primary > a{
text-decoration: none;
color: white;


}
.banner{
    display: block;
    text-align: center;
    background-image: url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;
    
    

   
}
.banner-image{
    width: 200px;
}
.banner-content{
max-width: 580px;
margin: 0px auto;

}
.banner-description{
    font-size: 15px;
    color: black;
}
.head{
    font-weight: bold;

}

  .about{
    height: 1300px;
    width: 1300px;
    background-color: lightcyan; 
   
    margin: 0 auto;
    
  }
  .sub-section{
   padding: 80px 97px 80px 97px;
   gap: 30px;
  }
  .skill{
    text-align: center;
}
.section-description{
font-size: 15px;
font-weight: 300;
}
.section-title{
    font-size: 35px;
    font-weight: bold;
}
.div{
    display: flex;
    padding: 30px 30px 30px 30px;
    border: none;
    border-radius: 5px;
    background-color: white;
    margin-top: 30px;
    margin-bottom: 20px;
    justify-content: space-between;
}
main{
    margin-top: 60px;
}
.sec-title{
    font-weight: bold;
    font-size: 20px;
}
.btn{
    height: 40px;
    width: 100px;
   
}
.pro{
    display: flex;
    justify-content: space-between;
}
.app{
    display: block;
   
    text-align: center;
    gap: 30px;

}
.new{
    width: 700px;
    height: 550px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin: 0 auto;
}
.add{
    padding: 30px 20px 20px 20px;
    border: none;
    border-radius: 7px;
}
.add2{
    width:700px ;
    height: 350px;
    border-radius: 7px;
    border: none;
}
#hero{
    background-image: url(../images/handshake.jpg);
    margin: 0 auto;
    width: 1300px;
    height:500px;
    margin-bottom: 40px;
    border: none;
    border-radius: 5px;
    
    

}
#hero .hero-content{
    
    display: block;
    text-align: center;
   padding: 150px;
   
}
.point{
    height: 40px;
    width: 100px;
}
.text{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    padding: 20px 50px 0px 200px;
    border: none;
    border-radius: 5px;

}
#hero .hero-content .text .to{
    width: 250px;
    height: 40px;
    
}
.hero-title{
    font-weight: bold;
    font-size: 40px;
}
.hero-description{
    font-size: 20px;
    font-weight: 400;
    
}
#card{
    margin: 0 auto;
    height: 600px;
    width: 1300px;
    background-color:whitesmoke;
    margin-bottom: 30px;
}
#card .card-part{
    display: flex;
    gap: 40px;
    margin-top: 30px;
}
#card .card-part .target{
    justify-content: space-between;
    height: 300px;
    width: 400px;
    margin-top: 30px;
    gap: 10px;
    padding: 20px 30px 30px 0px;
    text-align: left;
}
.card-section{
    text-align: center;
    height: 400px;
}
#card .card-part .one{
    background-color: bisque;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
#card .card-part .two{
    background-color:blanchedalmond;
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
#card .card-part .three{
    background-color: rgb(220, 235, 230);
    border: none;
    border-radius: 5px;
    padding-left: 20px;
}
.bt{
    border: none;
    background-color: none;
}

li{
    list-style: none;
    display: inline-block;
}
#navigate .navbar{
display: flex;
align-items: center;
justify-content: space-between;
}
#navigate{
    margin: 0 auto;
    width: 1300px;
    height: 200px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: papayawhip;
}